* {
     box-sizing: border-box;
}

.wireframe {
    display: flex;
    flex-direction: column;
 


}

main{
    background-color: aqua;
    
}

article, header,aside,footer {
    border: 1px solid black;
    padding: 1rem;
    
}

article {
    background-color: blue;
    
    
    margin: 20px;
    
    
}


header {
    background-color: pink;
    
    margin: 10px;
}

footer {
    background-color: blueviolet;
     
     margin: 10px;
}

aside {
    background-color: orangered;
     
     margin: 10px;
}